.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.searchForm {
  margin-top: 50px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.primarySearch {
  width: 30%;
}
.searchButton {
  margin-left: 15px;
}
.logoutButton {
  margin-right: 0;
  margin-left: auto;
}

.favorite-image {
  float: left;
  width: 20rem;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}
.favoriteDelete {
  width: 100px;
  height: 40px;
  margin-left: 90%;
  margin-bottom: 10px;
}
.recipe-card {
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  background-color: #457B9D
}
.recipe-card-image {
  padding-top: 10px;
  border-radius: 4%;
  display: block;
  float: left;
}
.card-title {
  margin: 5px;
  text-align: center;
}
.favorite-container {
  margin: 20px ;
  overflow: auto;

}
.favorite-ingredients {
    float:inline-end;
    margin-left: 210px;
    width: 300px;
}
.recipe-modal {
  height: 97%;
}
.modal-title{
  width: 100%;
  text-align: center;
}
.modal-card{
  background-color: #F1FAEE;
}
.modal-header{
  background-color: #457B9D;
  width: 100%;
  margin-left: .5px;
}
.modal-footer{
  background-color: #457B9D;
  width: 100%;
  margin-left: .5px;
  height: 100%;
  margin-bottom: -.5px;
}
.modal-body{
  background-color: #A8DADC;
  width: 100%;
  height: 100%;
  margin-left: .5px;
  margin-bottom: -.5px;
  margin-top: -.5px;
  

}
#favorite{
  cursor: pointer;
}
#modal-recipe{
 float: left;
 text-align: center;
 background-color: #457B9D;
}
#modal-image{
  float: left;
}
#modal-ingredients-title{

  margin-top: 50px;
  font-weight: bolder;
  text-align: center;
}
#modal-directions-title{
  font-weight: bolder;
  text-align: center;
  background-color: #457B9D;
}
#modal-directions{
  background-color: #457B9D;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#modal-ingredients{
 margin-top: 10px;
}

.a.nav-link{
  color: #457b9d;
}

.footer {
  display: flex;
  position:absolute;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #457B9D;

}
#footerLogo{
  margin-top: 10px;
  margin-left: 50px;
}

#footerCreator{
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.greeting{
  text-align: center;
}
.greeting:nth-child(1){
  margin-top: 40px;
  padding-top: 10px;
  font-size: 90px;
  line-height: 80px;
  font-family: copperplate;
  font-weight: bolder;
}
.greeting:nth-child(2){
  font-size: 90px;
  line-height: 80px;
  font-family: copperplate;
  font-weight: bolder;
}
.greeting:nth-child(3){
  margin-top: 50px;
  font-size: 30px;
  font-family: copperplate;
  font-weight: bold;
}
.greeting:nth-child(4){
  margin-top: 20px;
  font-size: 30px;
  font-family: copperplate;
  font-weight: bold;
}
.greeting:nth-child(5){
  font-size: 30px;
  font-family: copperplate;
  font-weight: bold;
}
.loginGreeting{
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  font-family: copperplate;
  font-weight: bold;
}
#root{
  background-image: url("./images/background.jpg");
  width: 100%;
  height: 100%;
}
html{
  background-image: url("./images/background.jpg");
  background-color: #ededed;
  height: 0%;
}
.loginButton{
  margin: 0 auto;
  display:block;
  
}
#footerImage{
  width: 100px;
}

#logoLogin{
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.card-column{
  width: 100%;
  margin-top: 25px;
}
.favoriteCard{
  margin: 0 auto;
  margin-top: 25px;
  display:block;
  width: 100%;
  background-color: #a8dadc;
}
.favIngredientTitle{
  font-weight: bold;
  text-align: center;
}
.favRecipeTitle{
  font-weight: bold;
  text-align: center;
}
.favRecipe{
  margin-left: 15px;
  margin-right: 15px;
}
.favIngredient{
  margin-left: 15px;
  margin-right: 15px;
}
.favoriteCardTitle{
  margin-top: 10px;
  margin-bottom: 10px;
}
.favoritesFooter{
  height: 85px;
}
.about-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-card{
  margin-top: 40px;
  width: 22rem;
  text-align: center;

}
.about-title{
  margin-top: 15px;
  line-height: 12px;
}
.about-text{
  font-size: 16px;
  margin-top: 7px;
  
}
#about-image{
  margin-top: 8px;
  width: 15rem;
  
}
.about-header{
  
  text-align: center;
  background-color: #457B9D;
  height: 75px;
  font-size: 30px;
}
#david-image{
  margin-top: 8px;
  width: 15rem;
}
#bryce-image{
  margin-top: 8px;
  width: 15rem;
  
}
body{
  margin-bottom: 8%;
}

.about-card{
  background-color: #F1FAEE;
}
.ingredientLabel{
  font-size: 14px;
  
}
.quantityAdd{
  width: 40px;
  height: 25px;
  margin-right: 7px;
  margin-left: 7px;
}
.ingredientButton{
  height: 25px;
  font-size: 10px;
}
/* .ingredientAddDiv{
  
} */
.ingredientForm{
  display: flex;
  margin: "10px";
  width: 250px;
}
.shoppingListTable{
  background-color: #A8DADC;
  border: black solid;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.itemRemove{
  background-color: red;
  color: white;
}
.recipeCardContiner{
  padding-bottom: 5%;
}